@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --second-color: hsl(var(--hue-color), 56%, 12%);
    --header-height: 3rem;
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;
}

html {
    scroll-behavior: smooth;
}
  
body {
    margin: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
}

.container {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 65px;
  height: auto;
  margin-right: 10px;
}

.logo-text {
  margin: 0;
  text-align: center;
  font-weight: 900;
  font-size: 4rem;
}

.form-container {
  text-align: center;
  width: 25%;
}

.form-control {
  width: 100%;
  margin-bottom: 25px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.btn{
  color: rgb(121, 121, 121);  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn a {
  color: inherit;
  text-decoration: none;
}

.btn a:hover {
  text-decoration: none;
}

p{
  text-align: left;
  font-size: 16px;
  color: rgb(167, 192, 247);
}